{% extends 'layouts/base.html' %}

{% block title %}
Music App - User Home
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-sm-8 offset-sm-2">
            <div class="mySearchCont rounded">
                <!-- Search form -->
                <form action="" class="form" method="POST" data-bs-theme="dark">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-1 col-sm-8 offset-sm-1">
                            {{ form.searchString(class="form-control", placeholder="Search songs or albums") }}
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2">
                            <div class="d-grid">
                                {{ form.search(class="btn btn-outline-primary") }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-10">
            {% include 'includes/musicPlayer.html' %}
        </div>
        <div class="col-md-8 col-lg-8 col-sm-10">
            <div class="myRecommended rounded bg-gradient mt-4" {% if sSL|length == 0 %} hidden="True" {% endif %}>
                <h3 class="text-capitalized text-light">Search Results</h3>
                {% if sSL[0] == "No Search Results" %}
                <p>No Search Results.</p>
                {% else %}
                <h4 class="text-capitalized text-info">Songs</h4>
                <table class="table table-dark table-hover rounded table-responsive{-sm|-md|-lg}">
                    <thead>
                        <tr>
                            <th scope="col">Song</th>
                            <th scope="col">Album</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Play/View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in sSL[0] %}
                        <tr>
                            <td class="text-info">{{s['s_name']}}</td>
                            <td class="text-secondary">{{s['s_album']}}</td>
                            <td class="text-secondary">{{s['s_duration']}}</td>
                            <td><a href="{{url_for('playSong',sid=s['id'])}}" style="text-decoration: none;">
                                <button class="btn btn-outline-success btn-sm">Play</button>
                            </a>
                            <a href="{{url_for('songDetails',sid=s['id'])}}" style="text-decoration: none;">
                                <button class="btn btn-outline-info btn-sm">View</button>
                            </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4 class="text-captialized text-success">Albums</h4>
                <table class="table table-dark table-hover rounded table-responsive{-sm|-md|-lg}">
                    <thead>
                        <tr>
                            <th scope="col">Album</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Genre(s)</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in sSL[1] %}
                        <tr>
                            <td class="text-success">{{a['a_name']}}</td>
                            <td>{{a['a_artist']}}</td>
                            <td>{{a['a_genres']}}</td>
                            <td>
                                <a href="{{url_for('albumDetails', aid=a['id'])}}">
                                <button class="btn btn-outline-success btn-sm">View</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="myRecommended rounded bg-gradient mt-4">
                <h4 class="text-capitalized text-info">Recommended Tracks</h4>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% for i in s %}
                    <div class="col">
                        <div class="card border-info">
                            <div class="card-body">
                                <h5 class="card-title text-info">{{i.s_name}}</h5>
                                <h6 class="text-secondary">{{i.s_artist}}</h6>
                                <a href="{{url_for('playSong',sid=i['id'])}}">
                                    <button class="btn btn-outline-primary">Play</button>
                                </a>
                                <a href="{{url_for('songDetails',sid=i['id'])}}">
                                    <button class="btn btn-outline-info">View</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href="{{url_for('exploreMusic')}}" style="text-decoration: none;">
                <h6 class="text-info mt-4">See more >></h6>
                </a>
            </div>
            <div class="myRecommended rounded bg-gradient mt-4 mb-4">
                <h4 class="text-capitalized text-warning">Your Playlists</h4>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% for j in p %}
                    <div class="col">
                        <div class="card border-warning">
                            <div class="card-body">
                                <h5 class="card-title text-warning">{{j.p_name}}</h5>
                                <h6 class="text-secondary">{{j.p_noOfTracks}}</h6>
                                <a href="{{url_for('viewEditPlaylist', vEId=j['id'])}}">
                                    <button class="btn btn-outline-warning">View/Edit</button>
                                </a>
                                {% if not j.p_name=="Liked Songs" and not j.p_name=="Disliked Songs" %}
                                <a href="{{url_for('deletePlaylist', pid=j['id'])}}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href="{{url_for('playlists')}}" style="text-decoration: none;">
                    <h6 class="text-warning mt-4">See more >></h6>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}